<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>ECE 140A Full Stack Demo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' href='public/rest.css'>
    <script src="public/login.js" defer></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="/mvp_updates">MVP Updates</a>
      <a href="/profile">Profile</a>
      <a href="/leaderboard">Leaderboard</a>
      <div class='logout_menu'> Logout </div>
    </div>
    <br><br>
    <h1>Welcome to my Website!</h1>
    <div> <b>Background: <br></b>
      I'm a 3rd year CS Major at UCSD. I'm in Phi Sigma Rho, a sorority for women and non-binary people in STEM. I've researched in computer science education, intuitive design, full stack development, web mining and NLP. Currently I'm studying Computer Vision, Operating Systems, and Product Engineering.</div>
  <div><b>Interests: <br></b>
      Currently I'm interested in Computer Vision, I also love to write and I'm a bit of a news junkie. One of my favorite podcasts is Pod Saves the World.</div>
  <div><b>Career Goals: <br></b>
  I want to pursue graduate school and research my interests within Computer Science. I would also like to get involved in industry and have experience as a SWE and in leading teams.</div>
  <div><b>More About Me: <br></b>
     I love to cook, cycle, and practice yoga! I'm also a member of Phi Sigma Rho at UCSD, in which I was formerly the VP Internal.</div>
  </div>

  <div><b>About this website: <br></b>
    Using this website, you can see leading entrepreneurial ideas from The Art of Product Engineering. You can make your own profile and comment on these ideas, and see further progress in ideas! 
    Thus, you should make an account to be able to provide feedback and keep a track of your favorite ideas!
  </div>
  </div>
    </main>
  </body>
</html>