<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' href='public/rest.css'>
    <script src="public/mvp_updates.js" defer></script>
  </head>
  <body>
    <div class="topnav">
      <a href="/home">Home</a>
      <a class="active" href="/mvp_updates">MVP Updates</a>
      <a href="/profile" >Profile</a>
      <a href="/leaderboard">Leaderboard</a>
      <div class='logout_menu'> Logout </div>
    </div>
    <h1>MVP Updates</h1>
    
    <button type="button" class="collapsible">Update 1</button>
    <div class = "updates">
        <b class="mvpTitle">Key Tasks and Member(s) Responsible</b> <br>
        <ul>
            <li>Continue to work on product vision: Akanksha and Allen</li>
            <li>Do further monetization research: William</li>
            <li>Find people to interview for possible customer personas: All</li>
        </ul>
        <b class="mvpTitle">Key Progress</b><br>
        <ul>
            <li>Did basic drafting of product vision, product is well defined</li>
            <li>Created idea for hardware component</li>
            <li>Found method for monetization (subscription model)</li>
        </ul>
        <b class="mvpTitle">Challenges and Possible Solutions</b><br>
        <ul>
            <li>During this week, we had trouble with coming up with the IoT portion of this project,
                in order to confront this, we bounced ideas and consulted with the TAs. 
            </li>
        </ul>
    </div>

    
    <button type="button" class="collapsible">Update 2</button>
        <div class = "updates">
        <b class="mvpTitle">Key Tasks and Member(s) Responsible</b> <br>
        <ul>
            <li> Carry out Customer Interviews and record/ have transcript: All</li>
            <li> Have at least 5 Job Stories by the end of the week: Akanksha</li>
            <li> Research competitors and disadvantages: William and Allen</li>
        </ul>
        <b class="mvpTitle">Key Progress</b><br>
        <ul>
            <li> Identified concrete customer personas </li>
            <li> Solidified monetization research </li>
            <li> Set up regular team communication</li>
        </ul>

        <b class="mvpTitle">Challenges and Possible Solutions</b><br>
        <ul>
            <li>Unfortunately, it is hard to reach William outside of lab and he is 
                late to most lab sessions, so our 3-person group is a bit limited. To address this, 
                we will communicate with William about group communication expectations. 
            </li>
        </ul>
    </div>

    
    <button type="button" class="collapsible">Update 3</button>
    <div class = "updates">
        <b class="mvpTitle">Key Tasks and Member(s) Responsible</b> <br>
        <ul>
            <li> Using google drive of resources and assignments, work on drafting assigned portion of report: All</li>
            <li> Do margins/monetization calculations: Akanksha</li>
            <li> Continue adding more job stories (aim for 15): Allen and William</li>
        </ul>
        <b class="mvpTitle">Key Progress</b><br>
        <ul>
        <li> Made plan for overall paper and articulated requirements for each section and member assignments </li>
        <li> Finished customer personas </li>
        <li> Discussed and completed Ethical sustainability sections</li>
        </ul>

        <b class="mvpTitle">Challenges and Possible Solutions</b><br>
        <ul>
            <li>All members have a large workload this week, so finding portions of time to work together is not possible. However, we decided to 
                take advantage of the upcoming lab hours and continue to communicate on discord to enable asynchronous work. 
            </li>
        </ul>
    </div>

    </main>
  </body>
</html>